# Ignorar entorno virtual
backend/.venv/
backend/venv/
.venv/
venv/

# Ignorar archivos sensibles
backend/.env
sql/00-users.sql

# Ignorar caché de Python
__pycache__/
*.pyc

# Ignorar archivos de IDE
.idea/
.vscode/
