services:
  app:
    build: .
    container_name: flask_app
    ports:
      - "5001:5000"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend
    restart: always

  db:
    image: mysql:8.0
    container_name: mysql_db
    env_file: .env
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./sql/00_users.sql:/docker-entrypoint-initdb.d/00_users.sql
      - ./sql/01_create_schema.sql:/docker-entrypoint-initdb.d/01_create_schema.sql
      - ./sql/02_inserts_demo.sql:/docker-entrypoint-initdb.d/02_inserts_demo.sql
      - ./sql/03_triggers.sql:/docker-entrypoint-initdb.d/03_triggers.sql
      - ./sql/04_eventos.sql:/docker-entrypoint-initdb.d/04_eventos.sql
      - ./sql/05_grants.sql:/docker-entrypoint-initdb.d/05_grants.sql
    restart: always

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 15

volumes:
  mysql_data:

