
// .rubik-<uniquifier> {
//   font-family: "Rubik", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

// bases

@import './bases/variables';

// componentes
@import './componentes/login';
@import './componentes/home';
@import './componentes/datos';
@import './componentes/reservar';
@import './componentes/misreservas';
@import './componentes/unirme';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif !important;
    font-optical-sizing: auto;
}