.body-admin {
  font-family: "Rubik", sans-serif;
  background-color: $gris-claro;
  color: $azul-oscuro;
  padding: 3rem 2rem;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
  }

  .filtros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    background: $blanco;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-bottom: 3rem;

    .form-row {
      display: flex;
      flex-direction: column;
      font-size: 1rem;

      label {
        margin: 0;
        margin-bottom: 0.3rem;
        color: $azul-oscuro;
      }

      input, select {
        padding: 0.4rem 0.6rem;
        border-radius: 6px;
        border: 1px solid #ccc;
        color: $azul-oscuro;
      }
    }

    .btn-filtrar {
      background: $azul-oscuro;
      color: white;
      border: none;
      padding: 0.7rem 1.5rem;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s;
      font-weight: 600;

      &:hover {
        background: darken($azul-oscuro, 10%);
      }
    }
  }

}

.body-admin {
  .reportes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); 
    gap: 2rem; // espacio entre las tarjetas
    width: 100%;
    justify-content: center;

    .reporte-card {
      background: $blanco;
      padding: 1rem 1.5rem;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      transition: transform 0.8s ease;
      max-width: 100%;

      &:hover {
        transform: translateY(-3px);
        background-color: rgba($color: $azul-claro, $alpha: 0.08);

      }

      h3 {
        font-size: 1.05rem;
        font-weight: 600;
        color: $azul-oscuro;
        margin-bottom: 0.7rem;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.85rem;
        text-align: center;
        border-radius: 8px;
        overflow: hidden;

        th {
          background-color: $azul-oscuro;
          color: white;
          font-weight: 600;
        }

        td {
          border-top: 1px solid #eee;
        }

        tr:nth-child(even) {
          background-color: #f9f9f9;
        }

        tr {
            &:hover {
            background-color: rgba($color: $azul-claro, $alpha: 0.08);

        }
        }

        
      }

      .metric {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        color: $azul-oscuro;
      }
    }
  }
}

