<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body class="body-home">

    <h1>Hola, {{ current_user.nombre }} {{ current_user.apellido }}</h1>

    <div class="cards">
        <a href="{{url_for('mis_reservas')}}" class="card">Mis Reservas</a>
        <a href="{{url_for('reservar')}}" class="card reservar">Reservar Sala de Estudio</a>
        <a href="{{url_for('sanciones')}}" class="card">Mis Sanciones</a>
    </div>
    

    <a href="{{url_for('logout')}}" class="btn-logout">Cerrar Sesión</a>
    
</body>
</html>