<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="login-container">
        <h2>INICIAR SESIÓN</h2>
        <div class="login-form" id="login-form">
             <form action="/login" method="POST"> <!--/login es la ruta en app.py de @app.route -->
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}

                <button type="submit" name="login">Login</button>
            </form>
        </div>
    </div>
    
</body>
</html>